<section class="container">
    <table class="table" *ngIf="eventos | async as users">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tema</th>
            <th>Data</th>
            <th>Horario</th>
        </tr>
        <tr *ngFor="let user of users">
           
           <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.tema}}</td>
            <td>{{user.data}}</td>
            <td>{{user.horario}}</td>
        </tr>
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Eventos</h5>
              <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
    </table>
</section>
